{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="container" style="width: 90%">
        <p class="text-muted" style="margin: 0px;">Квест - {{quest.name}}</p>
        <div class="row">
            <div class="col">
                <p class="logo" style="font-size: 40px;">{{ story.name }}</p>
            </div>
            <div class="col-auto" >
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#complaint" style="margin-top: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"></path>
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"></path>
                    </svg>
                    Жалоба
                </button>
            </div>
        </div>
        <div class="row">
            <p class="form-control text-" style="font-size: 22px; min-height: auto;">{{ location.text }}</p>
        </div>
    </div>

    <br>
    {% if not the_end%}
        {% for action in actions %}
            <div class="passage" style="margin-left: 150px; margin-right: 150px">
                <b>
                  <a href="{% url 'passage_story' location_id=action.to_location %}" class="rounded-4 btn btn-secondary" style="width: 100%; height: 3.25rem; border-radius: 5px;  font-size: 20px; color: white">
                    {{ action.action }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-right float-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                  </a>
                </b>
            </div>
            <br>
        {% endfor %}
    {% else %}
    <div class="container text-center">
        <h2>Конец!</h2>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#rate"><strong>Оценить квест</strong></button>
            <a href="{% url 'character' quest_id=quest_id %}" class="btn btn-outline-dark" type="button">Вернуться на страницу квеста</a>
        </div>
    </div>

    {% endif %}

        {% if is_staff %}
            {% if is_ban %}
                <a href="/unban/{{ quest_id }}" class="btn btn-warning btn-block">Разбанить</a>
            {% else %}
                <a href="/ban/{{ quest_id }}" class="btn btn-warning btn-block">Забанить</a>
            {% endif %}
        {% endif %}
        <div class="modal fade" id="complaint" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Пожаловаться на квест</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'make_complaint' quest_id=quest.id location_id=location.id%}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p> Жалоба: {{ complaintform.message }}</p>
                            <div style="margin-top: 10px;"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary text-white">Отправть сообщение</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="rate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Оценить квест</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="model-body">
                        <form class="text-center " method="post" action="" style="width: 80%; margin-bottom: 20px;">
                            {% csrf_token %}
                            <div class="rating-area">
                                  <input type="radio" id="star-5" name="rate" value="5">
                                  <label for="star-5" title="Оценка «5»"></label>

                                  <input type="radio" id="star-4" name="rate" value="4">
                                  <label for="star-4" title="Оценка «4»"></label>

                                  <input type="radio" id="star-3" name="rate" value="3">
                                  <label for="star-3" title="Оценка «3»"></label>

                                  <input type="radio" id="star-2" name="rate" value="2">
                                  <label for="star-2" title="Оценка «2»"></label>

                                  <input type="radio" id="star-1" name="rate" value="1">
                                  <label for="star-1" title="Оценка «1»"></label>
                            </div>
                            <button class="btn btn-outline-success" type="submit" style="width: 100%">Сохранить оценку</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>
{% endblock %}
