{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    #cy {
        background-color: rgba(205, 214, 219, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        visibility: collapse;
        z-index: 2;
        zoom: 1
    }
    #graph_mode, #return_graph{
        position: relative;
        z-index: 2;
    }

    #return_graph{
        visibility: collapse;
    }
</style>

<div id="innerCy" is_graph="false">
    <div class="rubik" id="cy"></div>
</div>
<script src="{% static 'js/cytoscape.umd.js' %}"></script>
<script>
    class Graph {
        constructor(){
            let nodes = JSON.parse('{{ nodes|escapejs }}');
            let edges = JSON.parse('{{ edges|escapejs }}');

            this.cy = window.cy = cytoscape({
                container: document.getElementById('cy'),

                style:
                [
                    {
                        selector: 'node',
                        style: {
                            'shape': 'round-rectangle',
                            'label': 'data(name)',
                            'background-color': '#5E8F9A',
                            'color': 'white',

                            'width':'100%',
                            'height':'60%',

                            'text-halign': 'center',
                            'text-valign': 'center',
                            "text-max-width": "10",
                            "text-wrap": 'wrap',
                        },
                    },
                    {
                        selector: 'edge',
                        style: {
                            'curve-style': 'round-taxi',
                            'target-arrow-shape': 'triangle',
                            'content': 'data(name)'
                        },
                    },
                ],

                elements: {
                    nodes: nodes,
                    edges: edges
                },

                layout: {
                name: 'cose',
                }
            });

            this.cy.on('tap', 'node', function(){
                try {
                    window.location.replace(`${this.data('id')}`);
                } catch(e){
                    window.location.href = `${this.data('id')}`
                }
            });

        }
        return_graph(){
            this.cy.zoom(1.5);
            this.cy.center();
        }
    }

    var graph = new Graph()

    function graph_modes(){
        inner = $('div#innerCy')
        cy = document.getElementById('cy')
        button = document.getElementById('graph_mode')
        button_return = document.getElementById('return_graph')

        if (inner.attr('is_graph') == 'false'){
            button.innerHTML = "Скрыть граф квеста"
            cy.style.visibility = "visible";
            button_return.style.visibility = "visible";
            inner.attr('is_graph', true);
        }
        else {
            button.innerHTML = "Показать граф квеста"
            cy.style.visibility = "collapse";
            button_return.style.visibility = "collapse";
            inner.attr('is_graph', false);

        }
    }

    function submit_connect(connect_id){
        let select_result = document.getElementById('select_loc').value;
        if (select_result == 'new'){
            window.location.replace(`sketch/${connect_id}`);
        }
        else if (select_result == 'del'){
            window.location.replace(`/create/delete_to_location/${connect_id}`);
        }
        else {
            window.location.replace(`connect/${connect_id}/${select_result}`);
        }
    }

    function modal(connect_id) {
        let new_location_button = document.getElementById('new_location_button');
        new_location_button.innerHTML = `<button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick=submit_connect(${connect_id})>Подтвердить</button>`;

    }
    function navigation(selectId) {
        let navigation_result = document.getElementById(selectId).value;
        window.location.replace(`${navigation_result}`);
    }
    function delete_connection(connect_id) {

        window.location.replace(`/create/delete_connection/${connect_id}`);

    }
    function complete_quest(location_id) {

        window.location.replace(`/create/complete/${location_id}`);

    }
</script>

<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <span class="logo" style="font-size: 40px; ">Создание приключения</span>

        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" style="margin-top: 6px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'create_location' location_id=start_location %}">Стартовая локация</a></li>
                        {% if location_id != start_location %}
                            <li class="breadcrumb-item active" aria-current="page">...</li>
                            <li class="breadcrumb-item active" aria-current="page">{{ location_form.name.value }}</li>
                        {% endif %}
                    </ol>
                </nav>
            </div>

            <div class="col-3">
                <button class="btn btn-info" style="width: 100%;" id="return_graph" onclick="graph.return_graph()" type="button">
                    Сбросить положение
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-warning" style="width: 100%;" id="graph_mode" type="button" onclick="graph_modes()" onfocus="graph.return_graph()">
                    Показать граф квеста
                </button>
            </div>
        </div>

        <div class="accordion" style="margin-bottom: 30px;">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                        Панель перемещения между локациями
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="dropdown" style="margin-top:30px; margin-left:30px">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <i>Все локации</i>
                      </button>
                      <div class="col-3">
                          <ul class="dropdown-menu" style="margin-top:10px;">
                            {%for location in all_locations%}
                                <li><a class="dropdown-item" href="{% url 'create_location' location_id=location.id %}">{{location.name}}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                    </div>
                    <div class="dropdown" style="margin-top:30px; margin-left:30px">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <i>Предыдущие локации</i>
                      </button>
                      <div class="col-3">
                          <ul class="dropdown-menu" style="margin-top:10px;">
                            {%for location in from_locations%}
                                <li><a class="dropdown-item" href="{% url 'create_location' location_id=location.id %}">{{location.name}}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                    </div>
                    <div class="dropdown" style="margin-top:30px; margin-left:30px; margin-bottom:30px">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <i>Одноуровневые локации</i>
                      </button>
                      <div class="col-3">
                          <ul class="dropdown-menu" style="margin-top:10px; ">
                            {%for location in alfa_locations%}
                                <li><a class="dropdown-item" href="{% url 'create_location' location_id=location.id %}">{{location.name}}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="logo" style="font-size: 30px;">Создание локации</span>
        <div class="row">
                <label class="col-form-label">{{ location_form.name.label }}:</label>
        </div>
        <div class="row align-items-center">
            <div class="col">{{ location_form.name }}</div>
            <div class="col">
                <span class="text-muted align-middle" style="font-size: 14px;"><i>Не более 64 символов. При нарушении правилсодержания, квест будет удален с сайта, а автор добавлен в чёрный список. <a class="link-info" href="{% url 'guide' %}">Подробнее</a></i></span>
            </div>
        </div>
        <div class="row g-1 align-items-left" style="margin-top:10px;">
            <div class="col col-auto">
                <label class="col-form-label">{{ location_form.history.label }}:</label>
            </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 30px;">
            <div class="col">
                {{ location_form.history }}
            </div>
        </div>
                <div class="row g-1 align-items-left" style="margin-top:10px;">
            <div class="col col-auto">
                <label class="col-form-label">{{ location_form.achievement.label }}:</label>
            </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 30px;">
            <div class="col">
                {{ location_form.achievement }}
            </div>
        </div>

        <span class="logo" style="font-size: 30px;">Настройка действий</span>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col col-auto"><label for="count_actions" class="col-form-label">{{ location_form.countActions.label }}:</label></div>
            <div class="col col-1" id="count_actions">{{ location_form.countActions }}</div>
            <div class="col" style="width: fill;"></div>
            <div class="col col-4" id="final_location">
                {{ location_form.final_location }}
            </div>
        </div>
        <hr style="margin-bottom: 20px;">
        {% if the_end != 1 %}
            {% for action_item in location_form.actions %}
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-auto">
                            <button data-bs-toggle="modal" type="button" class="btn btn-danger rounded-4 text-white" data-bs-target="#exampleModal" style="width:100%; height: 40px;" onclick="delete_connection({{action_item.id}})">Удалить</button>
                    </div>
                    <div class="col col-auto">
                        <label class="col-form-label" style="">{{ action_item.action.label }}:</label>
                    </div>
                    <div class="col col-4">
                        {{ action_item.action }}
                    </div>

                    {% if action_item.to_location %}
                        <div class="col-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" color="#1B7C0B" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                            <span class="align-middle" style="font-size:26px"></span>
                            <span class="align-middle text-success" style="height: fill; font-size:20px">Действие настроено</span>
                        </div>
                        <div class="col" style="width: 80%;">
                            <a href="{% url 'create_location' location_id=action_item.to_location%}"><button  type="button" class="btn btn-outline-success rounded-4" data-bs-target="#exampleModal" style="width:100%; height: 40px; font-size: 16px;">
                                Перейти
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"></path>
                                </svg>
                            </button></a>
                        </div>
                        <div class="col-2">
                            <button data-bs-toggle="modal" type="button" class="btn btn-secondary rounded-4 text-white" data-bs-target="#exampleModal" style="width:100%; height: 40px;" onclick="modal({{action_item.id}})">Редактировать связь</button>
                        </div>
                    {%else%}
                        <div class="col-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" color="#A40B0B" fill="currentColor" class="align-middle bi-x-circle" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                            <span class="align-middle" style="font-size:26px"></span>
                            <span class="align-middle text-danger" style="height: fill; font-size:20px">Действие не настроено</span>
                        </div>
                        <div class="col" style="width: 80%;"></div>
                        <div class="col-2">
                            <button data-bs-toggle="modal" type="button" class="btn btn-info rounded-4 text-white" data-bs-target="#exampleModal" style="width:100%; height: 40px;" onclick="modal({{action_item.id}})">Настоить связь</button>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="position-relative" style="margin-top: 50px; margin-bottom: 110px;">
        <button class="position-absolute top-40 end-0 col btn btn-primary text-start text-white" type="submit" style="width: 50%; height: 50px; border-radius: 2rem 0px 0px 2rem; font-size: 22px; padding-left: 30px;"><i><strong>Сохранить и обновить страницу</strong></i></button>
    </div>
    <div class="position-relative" style="margin-top: 50px; margin-bottom: 200px;">
        <a class="position-absolute top-60 end-0 col btn btn-success text-start text-white" type="button" href="{% url 'complete_quest' location_id=location_id %}" style=" width: 50%; height: 50px; border-radius: 2rem 0px 0px 2rem; font-size: 22px; padding-left: 30px;" ><i><strong>Открыть квест для просмотра</strong></i></a>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Создание связи между сценами</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select" aria-label="Large select example" id="select_loc">
                        <option value="new" selected>Создать новую</option>
                        {% for location in all_locations%}
                            <option value={{location.id}}>{{location.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            <div class="modal-footer" id="new_location_button">
                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="graph" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    {% include 'account_pages/adventures.html' %}
</div>
{% endblock %}