{% load static %}
{% if users_character %}
    {% for character in users_character %}
        <div class="row">
            <div class="col-2" style="margin-top: 10px;">
                <img src="{% if character.quest.image %}/media/{{ character.quest.image }}{% else %}{% static 'images/no_image.jpeg' %}{% endif %}" class="ratio ratio-4x3 rounded-3" style="width: 10rem; height: 10rem; object-fit: cover;">
            </div>
            <div class="col" style="width: 10%; margin-top: 15px; margin-left: 70px">
                 <span class="align-bottom h2">{{ character.quest.name }}</span>
                 <div>
                     <span class="text-dark" style="font-size: 20px;">Автор: {{ character.quest.author }}</span>

                 </div>
                 <div><span class="text-dark" style="font-size: 20px;">Твой персонаж: {{ character.name }}</span></div>
                 <div><span class="text-dark" style="font-size: 25px;">ПРОГРЕСС: {{ character.progress }} из {{ character.locations_count }} локаций</span></div>

            </div>
            <div class="col col-auto" style="margin: 15px; margin-top: 55px; width: 20%">
                <div class="vstack gap-3">
                    <a href="{% url 'passage_story' location_id=character.location_now_id %}" class="p-2 btn btn-success" type="button" style=" border-radius: 45px;">Продолжить</a>
                </div>
            </div>


        </div>

        <hr>

    {% endfor %}
{% else %}
    <p class="text-center text-muted" style="margin-top: 40px;"> Тут пока что пусто</p>
{% endif %}