{% if created_quests != 0 %}
    {% for created in created_quests %}
        <div class="row">
            <div class="col-2" style="margin: 15px;">
                {% if created.image == "" %}
                    <img src="/static/images/no_image.jpeg" class="ratio ratio-3x4 rounded-3" style="width: 12rem; height: 16rem; object-fit: cover;">
                {% else %}
                    <img src="/media/{{created.image}}" class="ratio ratio-3x4 rounded-3" style="width: 12rem; height: 16rem; object-fit: cover;">
                {% endif %}
            </div>
            <div class="col" style="width: 100%; margin-top: 30px;">
                <div class="row">
                    <div class="col col-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" color="#FF9100" class="align-middle bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        <span class="align-middle text-primary" style="font-size:26px;">{{created.rating}}</span>
                    </div>
                    <div class="col">
                        <span class="align-bottom h2">{{created.name}}</span>
                    </div>
                </div>
                    <div class="row" style="padding: 12px;">
                        {% for tag in created.tag %}
                            <p class="badge text rounded-3 bg-secondary" style="width: auto; font-size: 16px; margin-right:5px;">{{ tag }}</p>
                        {% endfor %}
                    </div>
                <span class="text-dark">Автор: автор</span>
                <div class="row">
                    <span class="text-dark">Краткое описание</span>
                </div>
            </div>
            <div class="col col-auto" style="margin-top: 30px;">
                <div class="vstack gap-3">
                    <a href="{% url 'passage_story' location_id=created.start_location%}" class="p-2 btn btn-success text-white" type="button" style="">Пройти квест</a>
                    <a href="{% url 'account' quest_id=created.id%}" class="p-2 btn btn-warning text-white">Изменить информацию</a>
                    <a href="{% url 'create_location' location_id=created.start_location%}" class="p-2 btn btn-warning text-white" type="button" style="">Редактировать сцены</a>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% else %}
    <p class="text-center text-muted" style="margin-top: 40px;"> Тут пока что пусто</p>
{% endif %}


    {%if quest_info_form%}
        <div class="modal fade show" id="complaint" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" style="display: block;" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Изменить информацию квеста</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/change_quest_info/{{quest_info_form.id}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div style="margin-bottom:15px;">{{ quest_info_form.name.label }}: {{ quest_info_form.name }}</div>
                            <div style="margin-bottom:15px;">{{ quest_info_form.description.label }}: {{ quest_info_form.description }}</div>
                            <div style="margin-bottom:15px;">{{ quest_info_form.tag.label }}: {{ quest_info_form.tag }}</div>
                            <div style="margin-bottom:15px;">{{ quest_info_form.image.label }}: {{ quest_info_form.image }}</div>
                            <div style="margin-bottom:15px;">{{ quest_info_form.agelimit.label }}: {{ quest_info_form.agelimit }}</div>
                            <div style="margin-bottom:15px;">{{ quest_info_form.visibility.label }}: {{ quest_info_form.visibility }}</div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary text-white" href="{%url 'account'%}">Закрыть</a>
                            <button type="submit" class="btn btn-primary text-white">Отправть сообщение</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}